* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    color: white;
    background-color: #2573cd;
    height: 100vh;
    padding: 35px 160px;
    overflow: hidden;
}

body::before {
    content: '';
    background: #090909;
    width: 100%;
    height: 135%;
    position: absolute;
    top: 0;
    left: -600px;
    z-index: -1;
    transform: rotate(-70deg);
}

body::after {
    content: 'Nike';
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    font-size: 250px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    opacity: 0.4;
    z-index: -1;
}

.caixa-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85%;
}


.logo {
    width: 80px;
    margin-bottom: 20px;
}

.caixa-tetxo {
    max-width: 500px;
}

h2 {
    font-size: 30px;
    margin-bottom: 60px;
}

h1 {
    font-size: 65px;

}

p {
    margin-top: 30px;
    font-size: 15px;
    margin-bottom: 25px;
}

.caixa-imagem img {
    width: 700px;
    transform: rotate(-25deg);
    margin-top: 0px;
    margin-left: 200px;
    filter: drop-shadow(30px 45px 40px #161616);
    transition: 1s;
}

p {
    width: 400px;
}

.botao-carrinho {
    background: #3276d5;
    border-radius: 20px;
    padding: 7px 10px;
    color: black;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}

.botao-carrinho:hover {
    background-color: #85aade;
    font-size: 18.5px;
}

.botao-carrinho:active {
    background: #2e78e1;
    font-size: 18px;
}

.caixa-botoes {
    position: absolute;
    bottom: 85px;
    display: flex;
    gap: 20px;
}

.botoes-verde {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ccee66;
    transition: 0.4s;
}

.botoes-verde:hover {
    filter: brightness(0.9);
    cursor: pointer;
    transform: scale(1.1);
}

.botoes-verde:active {
    transform: scale(1);
}

.botoes-rosa {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ff9eb5;
    transition: 0.4s;
}

.botoes-rosa:hover {
    filter: brightness(0.9);
    cursor: pointer;
    transform: scale(1.1);
}

.botoes-rosa:active {
    transform: scale(1);
}

.botoes-azul {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #3276d5;
    transition: 0.4s;
}

.botoes-azul:hover {
    filter: brightness(0.9);
    cursor: pointer;
    transform: scale(1.1);
}

.botoes-azul:active {
    transform: scale(1);
}

.troca-efeito {
    opacity: 0;
    transform: rotate(-25deg) translateY(-30px);
}


@media screen and (max-width: 767px) {

    /* Ajustes para celulares */
    body {
        padding: 20px;
        /* Padding menor para celulares */
        height: auto;
    }

    body::before {
        right: 0;
        top: -100px;
        transform: rotate(0deg);
        /* Torna a tarja mais vertical */
        height: 50%;
    }

    body::after {
        font-size: 150px;
        opacity: 0.2;
        /* Reduz a opacidade do "Nike" */
    }

    .caixa-principal {
        flex-direction: column;
        /* Garantir que os itens fiquem em coluna */
        text-align: center;
    }

    .caixa-tetxo {
        max-width: 100%;
        /* Ocupa a largura total */
    }

    .caixa-imagem img {
        width: 300px;
        /* Imagem ainda menor */
        transform: rotate(0deg);
        /* Remove a rotação */
        margin: 40px auto;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 12px;
    }

    p {
        font-size: 12px;
        width: 100%;
        /* Ocupa a largura total */
    }

    .botao-carrinho {
        font-size: 12px;
    }

    .botao-carrinho:hover {
        background-color: #3276d5;
        font-size: 12.5px;
    }

    .botao-carrinho:active {
        background: #2e78e1;
        font-size: 12px;
    }

    .caixa-botoes {
        position: static;
        /* Remove o posicionamento absoluto */
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .botoes-verde, .botoes-rosa, .botoes-azul {
        width: 40px;
        height: 40px;
    }
}